{% extends 'formWrapper.html.twig' %}

{% block form %}
    <h2>Réinitialiser son mot de passe</h2>

    {{ form_start(form) }}
    {{ form_row(form.password) }}

    <button type="submit" class="btn btn-primary">Réinitialiser</button>
    {{ form_end(form) }}
{% endblock %}