<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Email - Réinitialisation du mot de passe</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Demande de réinitialisation de mot de passe</h2>
        <p>
            Si vous désirez réinitialiser votre mot de passe, cliquez sur le lien ci-dessous:
        </p>
        <p>
            <a href="{{ absolute_url(path('password_reset_change', {'token': token})) }}">Je suis bien à l'origine de la demande de réinitialisation</a>
        </p>
        <p>
            Si vous n'êtes pas à l'origine de cette demande ou que vous changez d'avis, vous pouvez ignorer ce mail.
        </p>
    </body>
</html>