{# Écran d'arrivée sur le site servant de bannière identitaire #}
<div class="card border-0 text-center embed-responsive embed-responsive-21by9 mb-3">
    <img src="{{ landing_img }}" class="card-img embed-responsive-item">
    <div class="card-img-overlay text-white embed-responsive-item">
        <h1 class="display-4">La passion du snow !</h1>
        <p class="lead">Vivez la pleinement en la partageant grâce à Snowtricks</p>

        {# Bouton permettant de passer la bannière vers le contenu #}
        <a class="scroll " href="#tricks_container">
            <i class="fas fa-arrow-circle-down"></i>
        </a>
    </div>
</div>
