{% extends 'frame.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-sm-5 mt-5">
            {% block form %}{# Formulaire et son contenu #}{% endblock %}
        </div>
    </div>
{% endblock body %}