<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Snowtricks{% block title %}{# Nom de la page #}{% endblock %}</title>
  </head>
  <body id="bookmark_top">
    {% block modals %}{# Fenêtres modales #}{% endblock %}
    {% include "blocks/styles.html.twig" %}
    <!-- BODY START |||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    {% include "blocks/header.html.twig" %}
    <div class="container-fluid p-0 pb-5">
      {% block body %}{# Contenu principal de la page #}{% endblock %}
    </div>
    {% include "blocks/footer.html.twig" %}
    <!-- BODY END |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    {% include "blocks/scripts.html.twig" %}
    {% block javascripts %}{# Scripts additionnels #}{% endblock %}
  </body>
</html>
